.product-container {
    width: 400px;
    padding: 40px;
    margin-bottom: 25px;
}
.product-image {
    width: 100%;
}
/* if screen becomes larger than 768px */
@media screen and (min-width: 768px) {
    .product-container {
        width: 600px;
    }
}
.product-name a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #1b1c1e;
}
.product-name a:hover {
    color: #e63946;
}
.product-description {
    color: #303030;
    font-size: 14px;
}
.product-price {
    color: #e63946;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.product-container button{
    float: right;
}
/* .product-container:hover {
    box-shadow: 1px 1px 1px 1px #bdbbbb;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
} */

