.product-container {
    width: 350px;
    padding: 0px 16px;
    margin: 60px 0px;
}
.product-image {
    width: 100%;
    height: 180px;
}
/* if screen becomes larger than 768px */
@media screen and (min-width: 768px) {
    .product-container {
        width: 600px;
        height: 400px;
    }
    .product-image {
        width: 100%;
        height: 300px;
    }
}
.product-name a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #1b1c1e;
}
.product-name a:hover {
    color: #e63946;
}
.product-description {
    color: #303030;
    font-size: 14px;
}
.product-price {
    color: #e63946;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.product-container button{
    float: right;
}

