.sidebar {
    position: fixed;
    transition: all 0.5s;
    transform: translateX(-100%);
    background-color: #1d3557;
    height: 100%;
    width: 100%;
    padding: 10px 25px;
    z-index: 100;
}
@media screen and (min-width: 768px){
    .sidebar {
        width: 25%;
    }
}
.sidebar.open {
    transform: translateX(0);
}

.sidebar-close-button {
    cursor: pointer;
    float: right;
    color: #FFF;
    font-weight: bold;
}
.sidebar-close-button:hover {
    color: #a8dadc;
    transition: all 0.3s ease-in-out;
}
h3{
    color: #f1faee;
    margin-top: 5px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    font-weight: 400;
    border-bottom: 1px solid #777777;
}
.sidebar p{
    margin-bottom: 10px;
    padding: 10px;
}
.sidebar p:hover{
    background-color: black;
}

